.page1titles {
  width: 520px;
  height: 100px;
  text-align: left;
  font-size: calc(12px + 2vmin);
  font-family: ITCAvantGradePro_DEMI;
}
.page1Box {
  display: flex;
  flex-direction: row;
  top: 30vh;
  left: 0;

  border-radius: 0;
  position: relative;
  opacity: 1;
  align-items: center;
}
.bayihex {
  z-index: 1;
  height: auto;
  width: 30vw;
  background-image: url("../../assets/hexapage1.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.Titlebayi {
  width: auto;
  height: auto;
  position: relative;
  padding: 20px;
  opacity: 1;
  text-align: center;
}
.titlebg {
  width: 82vw;
  position: absolute;
  left: 11vw;
  height: 164px;
  background-image: url("../../assets/bgtitlepage1.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #fff;
  line-height: 23px;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-left: 23%;
  height: 100%;
}
.titleBig {
  padding: 10px;
  font-family: ITCAvantGradePro_DEMI;
  font-size: calc(80px + 2vmin);
}
.logoMj {
  position: absolute;
  top: -7px;
  left: 50px;
  height: 45px;
  width: 100vw;
  background-image: url("../../assets/logomj.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}

/* MOBILE ViEW */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .page1titles {
    width: 468px;
    height: auto;
  }
  .page1Box {
    top: 0;
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .page1titles {
    width: 426px;
    height: auto;
    font-size: calc(12px + 2vmin);
  }
  .titleBig {
    padding: 0px 10px;
    font-size: calc(50px + 2vmin);
  }
  .page1Box {
    top: 90px;
    left: 10px;
    justify-content: normal;
  }
  .logoMj {
    top: -7px;
    left: 50px;
    height: 45px;
    width: 100vw;
  }
  .Titlebayi {
    padding: 10px;
  }
}
