.titlePage2 {
  width: 550px;
  height: auto;
  padding: 0px 25px;
  font-size: calc(10px + 2vmin);
}
.content5text {
  width: auto;
  height: auto;
  font-size: calc(5px + 2vmin);
  padding: 10px 0px;
}
li.content1style.content1textbullet {
  width: 830;
  height: 100;
  font-size: calc(6px + 2vmin);
}
.contentRow {
  justify-content: center;
}
.content1Container {
  padding-top: 5px;
  align-items: unset;
}
.bgBox {
  height: auto;
  width: auto;
  padding: 5px;
  background-image: url("../../assets/backbox.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.bgKalengLgg {
  height: 45vh;
  width: 100%;
  background-image: url("../../assets/kalenglgg.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  margin: 15px 0px 10px 0px;
}
.bgKalengPuramino {
  height: 45vh;
  width: 100%;
  background-image: url("../../assets/kalengpiramino.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  margin: 15px 0px 10px 0px;
}
.colmContainer {
  text-align: center;
  width: 35vw;
}
.titletext {
  width: auto;
  height: auto;
  font-size: calc(6px + 2vmin);
  color: #58595b;
  font-family: ITCAvantGradePro_DEMI;
}
.boxtext {
  width: auto;
  height: auto;
  font-size: calc(2px + 2vmin);
  color: #fff;
  font-family: ITCAvantGradePro_DEMI;
}
.addPadding {
  padding-left: 40px;
}
.ciclebenefit {
  position: absolute;
  top: 39%;
  left: 48%;
  height: 125px;
  width: 125px;
  background-image: url("../../assets/circlebg.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}

/* MOBILE ViEW */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
}
@media only screen and (max-width: 768px) {
  .titlePage2 {
    width: 550px;
    height: auto;
    padding: 0px 18px;
    font-size: calc(10px + 2vmin);
  }
}
