.titlePage2 {
  width: 550px;
  height: auto;
  padding: 0px 25px;
  font-size: calc(10px + 2vmin);
}
.content1text {
  width: auto;
  height: auto;
  font-size: calc(7px + 2vmin);
  padding: 14px 25px;
  text-align: left;
  color: #fff;
  font-family: ITCAvantGradePro_DEMI;
}
.content3text {
  width: auto;
  height: auto;
  font-size: calc(6px + 2vmin);
  padding: 15px 0px 0px 0px;
  text-align: center;
  font-family: ITCAvantGradePro_BOOK;
}
li.content1style.content1textbullet {
  width: 830;
  height: 100;
  font-size: calc(6px + 2vmin);
}
.content1Container {
  padding-top: 20px;
  align-items: unset;
  padding-left: 10px;
}
.bgArrow {
  height: 27vh;
  width: 74vw;
  background-image: url("../../assets/bgtitlepage2.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  align-items: center;
  margin-left: 10%;
  margin-top: 10%;
}
.bgDiagramEnd {
  height: 50vh;
  width: 50vw;
  background-image: url("../../assets/diagram1.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.diagramMask {
  z-index: 1;
  position: absolute;
  top: 28vh;
  margin-left: 73px;
  /*background-color: aqua; */
  width: 45vw;
  height: 30vh;
  overflow: hidden;
  /*background-image: url("../../assets/diagram1_anim.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size:contain;
  background-position: center;*/
}
.diagramMask .bgDiagramLine {
  width: 31.5vw;
  height: 30vh;
  background-image: url("../../assets/diagram1_anim.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
/* MOBILE ViEW */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
}
@media only screen and (max-width: 768px) {
  .titlePage2 {
    width: 550px;
    height: auto;
    padding: 0px 25px;
    font-size: calc(8px + 2vmin);
  }
}
