.titlePage2 {
  width: 550px;
  height: auto;
  padding: 0px 25px;
  font-size: calc(10px + 2vmin);
}
.SubtitlePage {
  width: 550px;
  height: auto;
  padding: 10px 0px;
  font-size: calc(4px + 2vmin);
  font-family: ITCAvantGradePro_DEMI_OBL;
}
.content1text {
  width: auto;
  height: auto;
  font-size: calc(7px + 2vmin);
  padding: 14px 25px;
  text-align: left;
  color: #fff;
  font-family: ITCAvantGradePro_DEMI;
}
.content2text {
  width: auto;
  height: auto;
  font-size: calc(6px + 2vmin);
  padding: 15px 0px 0px 0px;
  text-align: center;
  font-family: ITCAvantGradePro_BOOK;
}
li.content1style.content1textbullet {
  width: 830;
  height: 100;
  font-size: calc(6px + 2vmin);
}
.content1Container {
  padding-top: 10px;
  align-items: unset;
  padding-left: 10px;
}
.content1ContainerResult {
  padding-top: 0px;
  align-items: unset;
  padding-left: 0px;
}
.numberContainer {
  height: 20px;
  width: 20px;
  background-color: #f59933;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: calc(5px + 2vmin);
  border-radius: 5px;

  font-family: ITCAvantGradePro_DEMI;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.addPadding {
  padding: 5px 5px 0px 0px;
  align-items: flex-start;
  min-height: 29px;
  width: 29vw;
}
.addPadding3 {
  padding: 5px 5px 0px 0px;
  align-items: flex-start;
  min-height: 35px;
  width: 29vw;
}
.addPadding4 {
  padding: 0px;
  justify-content: center;
  min-height: 20px;
  width: auto;
}
.numberAnswerContainer {
  height: 20px;
  width: 20px;

  background-color: #f59933;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: calc(5px + 2vmin);
  border-radius: 20px;
  margin-right: 10px;
  font-family: ITCAvantGradePro_BOOK;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.imageHex1 {
  height: 30vh;
  width: 32vw;
  background-image: url("../../assets/quizhex1.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.imageHex2 {
  height: 30vh;
  width: 32vw;
  background-image: url("../../assets/quizhex2.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.imageHex3 {
  height: 30vh;
  width: 32vw;
  background-image: url("../../assets/quizhex3.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.imageHex4 {
  height: 30vh;
  width: 32vw;
  background-image: url("../../assets/quizhex4.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.imageHex5 {
  height: 30vh;
  width: 32vw;
  background-image: url("../../assets/quizhex5.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.imageHexScore {
  height: 20vh;
  background-image: url("../../assets/hexascore.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.subTextHex {
  color: #f59933;
  text-align: center;
  font-size: calc(4px + 2vmin);
  font-family: ITCAvantGradePro_DEMI;
  padding-top: 5px;
}
.titleQuiz {
  color: #f59933;
  text-align: left;
  font-size: calc(3px + 2vmin);
  font-family: ITCAvantGradePro_BOOK;
  padding: 0px;
  min-height: 17px;
}
.answerText {
  text-align: left;
  font-size: calc(5px + 2vmin);
  font-family: ITCAvantGradePro_BOOK;
}
.imagePita {
  height: 20vh;
  width: 102vw;
  background-image: url("../../assets/pita.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  position: fixed;
  left: -10px;
  bottom: 6px;
}
.customquiz2 {
  font-size: calc(3px + 2vmin);
}
.eek0 {
  margin: 0px 10px 0px 5px;
  height: 20px;
  width: 20px;
  background-image: url("../../assets/eek0.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.eek2 {
  margin: 0px 10px 0px 5px;
  height: 20px;
  width: 20px;
  background-image: url("../../assets/eek2.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.eek4 {
  margin: 0px 10px 0px 5px;
  height: 20px;
  width: 20px;
  background-image: url("../../assets/eek4.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.eek4_2 {
  margin: 0px 10px 0px 5px;
  height: 20px;
  width: 20px;
  background-image: url("../../assets/eek42.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.eek6 {
  margin: 0px 10px 0px 5px;
  height: 20px;
  width: 20px;
  background-image: url("../../assets/eek6.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}

.QuizTable .table {
  width: 120%;
}
.QuizTable thead tr {
  background-color: rgba(247, 148, 32, 0.2);
}
.QuizTable thead tr th {
  font-size: calc(2px + 2vmin);
  color: #532c13;
  font-family: ITCAvantGradePro_DEMI;
  text-align: center;
  padding: 5px 15px;
}
.QuizTable tbody tr {
  background-color: #fffcf8;
}
.QuizTable tbody tr td {
  font-size: calc(3px + 2vmin);
  color: #532c13;
  font-family: ITCAvantGradePro_DEMI;
  padding: 5px 15px;
}
.QuizTable tbody tr td#skortitle {
  font-size: calc(1px + 1.5vmin);
  color: #f59933;
  text-align: center;
}
.QuizTable tbody tr td#skortitle2 {
  font-size: calc(1px + 2vmin);

  text-align: center;
}
.quizResultTitle {
  font-size: calc(5px + 2vmin);
  font-family: ITCAvantGradePro_DEMI;
  text-align: center;
  padding: 5px 0px;
}
.quizResultTitleCara {
  font-size: calc(3px + 2vmin);
  font-family: ITCAvantGradePro_DEMI;
  text-align: center;
  padding: 5px 0px;
}
.quizResultHex {
  font-size: calc(43px + 2vmin);
  font-family: ITCAvantGradePro_DEMI;
  text-align: center;
  color: #f7e6cd;
}
.quizResultDescHex {
  font-size: calc(3px + 2vmin);
  font-family: ITCAvantGradePro_DEMI;
  text-align: center;
}
.containerResult {
  width: 70vw;
  margin-left: 14vw;
  padding: 7px 10px;
  margin-top: 10px;
  background-color: rgba(247, 230, 205, 0.4);
  border: 5px solid #f2d5ad;
}
.quizResultTitleCaraContextPadding {
  align-items: flex-start;
  justify-content: space-around;
}
.quizResultTitleCaraContext {
  display: flex;
  font-size: calc(1px + 1.2vmin);
  font-family: ITCAvantGradePro_EL;
  text-align: left;
  letter-spacing: 0.5px;
}
.quizResultTitleCaraContextBorder {
  height: 14px;
  border: 1px solid #f2d5ad;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
.quizResultTitleCaraContextBorderLine {
  display: flex;
  width: 100vw;
  height: 10px;
  border: 1px solid #f2d5ad;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.quizref {
  width: 95vw;
  position: fixed;
  bottom: 10px;
  font-size: calc(1px + 1vmin);
  font-family: ITCAvantGradePro_BOOK;
  text-align: center;
}
/* MOBILE ViEW */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
}
@media only screen and (max-width: 768px) {
  .titlePage2 {
    width: 550px;
    height: auto;
    padding: 0px 25px;
    font-size: calc(8px + 2vmin);
  }
}
