.titlePage2 {
  width: 550px;
  height: auto;
  padding: 0px 25px;
  font-size: calc(10px + 2vmin);
}
.content1text {
  width: auto;
  height: auto;
  font-size: calc(5px + 2vmin);
  padding: 10px 0px;
}
li.content1style.content1textbullet {
  width: 830;
  height: 100;
  font-size: calc(6px + 2vmin);
}
.content1Container {
  padding-top: 20px;
  align-items: unset;
  padding-left: 10px;
}
.bgDiagram {
  height: 50vh;
  width: 50vw;
  background-image: url("../../assets/diagram1.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.bgDiagramEnd {
  height: 50vh;
  width: 50vw;
  background-image: url("../../assets/diagram1_done.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.diagramMask {
  z-index: 1;
  position: absolute;
  top: 28vh;
  background-color: aqua;
  width: 50vw;
  height: 30vh;
}
/* MOBILE ViEW */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
}
@media only screen and (max-width: 768px) {
  .titlePage2 {
    width: 550px;
    height: auto;
    padding: 0px 25px;
    font-size: calc(10px + 2vmin);
  }
}
