.Home-container {
  display: flex;
}
.observer-demo {
  padding: 10px 15px;
  height: 100vh;
  width: 100vw;
}

.Box-Demo {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;

  border-radius: 0;
  border: 1px solid black;
  position: relative;
  opacity: 1;
  align-items: center;
  height: 500px;
}
.TitlePage1 {
  width: 400px;
  /* height: 200px; */
  position: relative;
  opacity: 1;
}

#TitleText {
  text-align: "center";
}
.titlestyle {
  font-family: ITCAvantGradePro_BOLD;
  text-align: left;
}
.titlestyle2 {
  font-family: ITCAvantGradePro_DEMI;
  text-align: left;
  line-height: 6.5vh;
}
.content1style {
  font-family: ITCAvantGradePro_DEMI;
}
.contentRefstyle {
  font-family: ITCAvantGradePro_BOOK;
  font-size: calc(0.5px + 1.5vmin);
  color: #58595b;
}
ol.horizontal li {
  float: left;
  width: 23vw;
  padding: 2px 0px;
}
.logoLgg {
  height: 7vw;
  width: 16vw;
  background-image: url("../assets/lgglogo.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rowtocol-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#footer {
  position: fixed;
  bottom: 2%;
  padding-left: 1vw;
}
#footerLast {
  position: fixed;
  bottom: 2%;
  padding-left: 1vw;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*PAGE 1*/
.page1titles {
  width: 100%;
  height: auto;
  text-align: left;
  font-size: calc(2.8vw + 1vmin);
  font-family: ITCAvantGradePro_DEMI;
}
.page1Box {
  display: flex;
  flex-direction: row;
  top: 20vh;
  left: 0;
  border-radius: 0;
  position: relative;
  opacity: 1;
  align-items: center;
}
.centers {
  align-items: center;
  display: flex;
}
.page4_1Box {
  display: flex;
  flex-direction: row;

  border-radius: 0;
  position: relative;
  opacity: 1;
  align-items: center;
}
.bayihex {
  z-index: 1;
  height: auto;
  width: 30vw;
  background-image: url("../assets/hexapage1.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  align-items: center;
  justify-content: center;
  padding: 3vw;
}
.Titlebayi {
  width: auto;
  height: auto;
  position: relative;
  padding: 1vw;
  opacity: 1;
  text-align: center;
}
.titlebg {
  display: flex;
  width: 85vw;
  position: absolute;
  left: 18vw;
  height: 15vw;
  background-image: url("../assets/bgtitlepage1_text.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  line-height: 23px;
}
.titlebg2 {
  display: flex;
  width: 85vw;
  position: absolute;
  left: 18vw;
  height: 15vw;
  background-image: url("../assets/bgtitlepage3_text.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  line-height: 23px;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-left: 20vw;
  height: 100%;
  width: 100%;
  line-height: 4vw;
}
.titleBig {
  font-family: ITCAvantGradePro_DEMI;
  font-size: calc(6vw + 2vmin);
  padding: 0 1vw;
}
.logoMj {
  position: fixed;
  height: 10vh;
  width: 100vw;
  top: 23vh;
  background-image: url("../assets/logomj.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
/*PAGE 2*/
.titlePage2 {
  width: 80vw;
  height: auto;
  font-size: calc(1.7vw + 2vmin);
}
.titleContainerPage {
  padding: 2vh 0 0 0;
}
.content2text {
  width: auto;
  height: auto;
  font-size: calc(1.2vw + 2vmin);
  text-align: left;
  font-family: ITCAvantGradePro_DEMI;
  padding: 10px 0px 0px 0px;
}
.content1textbullet {
  align-items: center;
}
/* li.content1style.content1textbullet {
  width: 830;
  height: 100;
  font-size: calc(6px + 2vmin);
} */
.content2Container {
  padding: 5% 2vw;
}
.bgDiagram {
  height: 50vh;
  width: 50vw;
  background-image: url("../assets/diagram1.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.bgDiagramEnd {
  height: 50vh;
  width: 50vw;
  background-image: url("../assets/diagram1_done.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.diagramMask {
  z-index: 1;
  position: absolute;
  /* top: 28vh;
  margin-left: 73px; */
  /*background-color: aqua; */
  width: 45vw;
  height: 50vh;
  overflow: hidden;
  /*background-image: url("../assets/diagram1_anim.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size:contain;
  background-position: center;*/
}
.diagramMask .bgDiagramLine {
  width: 50vw;
  height: 50vh;
  background-image: url("../assets/diagram1_done.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
/* PAGE 3 */
.titlePage3 {
  width: 80vw;
  height: auto;
  font-size: calc(1.3vw + 2vmin);
}
.content3text {
  width: 80vw;
  height: auto;
  font-size: calc(11px + 2vmin);
  padding: 3% 25px;
  text-align: left;
  color: #fff;
  font-family: ITCAvantGradePro_BOOK;
  font-size: calc(1.5vw + 2vmin);
}
.content3text a#customtext {
  font-family: ITCAvantGradePro_BOLD;
}
.titlePage3 a#customtext {
  font-family: ITCAvantGradePro_DEMI_OBL;
}
.titlePage5 a#customtext {
  font-family: ITCAvantGradePro_DEMI_OBL;
}
.quizResultTitleCaraContext a#customtext {
  font-family: ITCAvantGradePro_BOLD;
}
.content3_2text {
  width: auto;
  height: auto;

  padding: 1px 0px;
  text-align: left;
  color: #532c13;
  font-family: ITCAvantGradePro_DEMI;
  font-size: calc(1.3vw + 2vmin);
}
/* li.content1style.content1textbullet {
  width: 830;
  height: 100;
  font-size: calc(6px + 2vmin);
} */
.content1Container {
  padding: 0vw 3vw;
}
.bgArrow {
  display: flex;
  height: 36vh;
  width: 90vw;
  background-image: url("../assets/bgtitlepage2_text.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 4vw 0;
}
/* PAGE 4 */
.titlePage4 {
  width: 550px;
  height: auto;
  padding: 0px 25px;
  font-size: calc(10px + 2vmin);
}
.SubtitlePage {
  width: 95vw;
  height: auto;
  text-align: center;
  padding: 10px 0px;
  font-size: calc(1vw + 2vmin);
  font-family: ITCAvantGradePro_DEMI_OBL;
}
.bgScore {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/boxResult.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  width: 95vw;
  height: 60vh;
  padding: 6% 0px 0px 0px;
  align-items: center;
}
.titleScore {
  background-image: url("../assets/boxResulttitle.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  width: 25vw;
  height: auto;
  padding: 1.2vw 6vw;
  position: fixed;
  top: -0.5em;
  color: #fff;
  left: 37vw;
  font-size: calc(1vw + 2vmin);
}
.content1text {
  width: auto;
  height: auto;
  font-size: calc(7px + 2vmin);
  padding: 14px 25px;
  text-align: left;
  color: #fff;
  font-family: ITCAvantGradePro_DEMI;
}
.content4text {
  width: auto;
  height: auto;
  font-size: calc(6px + 2vmin);
  padding: 15px 0px 0px 0px;
  text-align: center;
  font-family: ITCAvantGradePro_BOOK;
}
/* li.content1style.content1textbullet {
  width: 830;
  height: 100;
  font-size: calc(6px + 2vmin);
} */

.content1ContainerResult {
  padding-top: 0px;
  align-items: unset;
  padding-left: 0px;
}
.numberContainer {
  display: flex;
  height: 3.5vw;
  width: 3.5vw;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: calc(1vw + 2vmin);
  border-radius: 5px;
  background-image: url("../assets/boxquestion.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-family: ITCAvantGradePro_DEMI;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.addPaddingQuiz {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  align-items: end;
  width: auto;
}
.addPadding3 {
  padding: 1vw 0vw;
  align-items: center;
  min-height: 35px;
  width: auto;
}
.addPadding4 {
  padding: 0px;
  justify-content: center;
  min-height: 20px;
  width: auto;
}
.addPaddingQuiz #check {
  height: 3vw;
  width: 3vw;
  margin-left: 0.2vw;
  position: fixed;
  background-image: url("../assets/aset-01.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.addPadding3 #check {
  height: 4vw;
  width: 3vw;
  margin-left: 0.2vw;
  position: fixed;
  background-image: url("../assets/aset-01.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center #check {
  height: 3vw;
  width: 3vw;
  position: fixed;
  background-image: url("../assets/aset-01.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.numberAnswerContainer {
  display: flex;
  height: 3vw;
  width: 3vw;
  background: url("../assets/tablelingkaran.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: calc(5px + 2vmin);
  margin-right: 10px;
  font-family: ITCAvantGradePro_BOOK;
}

.imageHex1 {
  height: 30vh;
  width: 30vw;
  background-image: url("../assets/quizhex1.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.imageHex2 {
  height: 30vh;
  width: 32vw;
  background-image: url("../assets/quizhex2.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.imageHex3 {
  height: 30vh;
  width: 32vw;
  background-image: url("../assets/quizhex3.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.imageHex4 {
  height: 30vh;
  width: 32vw;
  background-image: url("../assets/quizhex4.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.imageHex5 {
  height: 30vh;
  width: 32vw;
  background-image: url("../assets/quizhex5.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.imageHexScore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 15vw;
  background-image: url("../assets/hexascore.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  margin: 1vw;
}
.subTextHex {
  color: #f05a29;
  text-align: center;
  font-size: calc(1vw + 2vmin);
  font-family: ITCAvantGradePro_DEMI;
  padding-top: 5px;
}
.titleQuiz {
  color: #f05a29;
  text-align: left;
  font-size: calc(0.3vw + 2vmin);
  font-family: ITCAvantGradePro_DEMI;
  padding: 0px;
  min-height: 4vh;
}
.answerText {
  text-align: left;
  font-size: calc(1vw + 1vmin);
  font-family: ITCAvantGradePro_BOOK;
}
.imagePita {
  height: 20vh;
  width: 102vw;
  background-image: url("../assets/pita.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  position: fixed;
  left: -10px;
  bottom: 1vh;
  z-index: -1;
}
.quiznavi {
  position: fixed;
  display: flex;
  bottom: 3%;
  right: 3%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 9vw;
}
.btn-nextQuiz {
  background-color: transparent;
  height: 4vw;
  width: 4vw;
  background-image: url("../assets/aset-03.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-family: ITCAvantGradePro_BOLD;
}

.btn-prevQuiz {
  background-color: transparent;
  height: 4vw;
  width: 4vw;
  background-image: url("../assets/aset-02.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-family: ITCAvantGradePro_BOLD;
}
.btn-nextQuiz #nextTitle {
  color: #f05a29;
  font-size: calc(0.3vw + 2vmin);
  margin: 0px 4vw;
}
.btn-prevQuiz #prevTitle {
  color: #f05a29;
  font-size: calc(0.3vw + 2vmin);
  margin: 0px 4vw;
}
.customquiz2 {
  font-size: calc(3px + 2vmin);
}
.eek0 {
  margin: 0px 10px 0px 5px;
  height: 4vw;
  width: 4vw;
  background-image: url("../assets/eek0.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.eek2 {
  margin: 0px 10px 0px 5px;
  height: 4vw;
  width: 4vw;
  background-image: url("../assets/eek2.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.eek4 {
  margin: 0px 10px 0px 5px;
  height: 4vw;
  width: 4vw;
  background-image: url("../assets/eek4.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.eek4_2 {
  margin: 0px 10px 0px 5px;
  height: 4vw;
  width: 4vw;
  background-image: url("../assets/eek42.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.eek6 {
  margin: 0px 10px 0px 5px;
  height: 4vw;
  width: 4vw;
  background-image: url("../assets/eek6.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}

.QuizTable .table {
  width: 50vw;
}
.QuizTable thead tr {
  background-color: rgba(247, 148, 32, 0.2);
  border-color: rgba(247, 148, 32, 0.2);
}
.QuizTable thead tr th {
  font-size: calc(0.5vw + 1vmin);
  color: #532c13;
  font-family: ITCAvantGradePro_DEMI;
  text-align: center;
  padding: 1vw;
  border-color: rgba(247, 148, 32, 0.2);
}
.QuizTable tbody tr {
  background-color: #fffcf8;
  border-top-width: 0px;
}
.QuizTable tbody tr td {
  font-size: calc(3px + 2vmin);
  color: #532c13;
  font-family: ITCAvantGradePro_DEMI;
  padding: 1vw;
  border-color: rgba(247, 148, 32, 0.2);
}
.QuizTable tbody tr td .center {
  display: flex;
  justify-content: center;
}
.QuizTable tbody tr td#hide {
  border-bottom-color: transparent;
}

.QuizTable tbody tr td#skortitle {
  font-size: calc(1px + 1.5vmin);
  color: #f05a29;
  text-align: center;
  border-bottom-color: transparent;
}
.QuizTable tbody tr td#skortitle2 {
  font-size: calc(1px + 2vmin);
  border-bottom-color: transparent;
  text-align: center;
}
.quizResultTitle {
  font-size: calc(1vw + 2vmin);
  font-family: ITCAvantGradePro_BOLD;
  text-align: center;
  padding: 5px 0px;
}
.quizResultTitleCara {
  font-size: calc(3px + 2vmin);
  font-family: ITCAvantGradePro_BOLD;
  text-align: center;
  color: #f05a29;
  padding: 15px 0px;
}
.quizResultHex {
  font-size: calc(5.5vw + 2vmin);
  font-family: ITCAvantGradePro_DEMI;
  text-align: center;
  color: #f7e6cd;
  text-shadow: 3px 3px #f05a29;
}
.quizResultDescHex {
  font-size: 2.4vh;
  font-family: ITCAvantGradePro_DEMI;
  text-align: center;
}
.content4ContainerResult {
  height: 90vh;
}
.content4Container {
  padding: 0px;
}
.quizContainer {
  padding: 5vh 10vw;
}
.containerResult {
  padding: 1vw 2vw;
  margin-top: 10px;
  background-color: rgba(247, 230, 205, 0.4);
  border: 0px solid #f2d5ad;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.resultDesc {
  display: flex;
  flex-direction: column;
  position: fixed;
}
.quizResultTitleCaraContextPadding {
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  display: flex;
}
.quizResultTitleCaraContext {
  /* display: flex; */
  font-size: calc(1px + 1.2vmin);
  font-family: ITCAvantGradePro_EL;
  text-align: left;
  letter-spacing: 0.5px;
  padding: 10px 5px;
}
.quizResultTitleCaraContextBorder {
  height: 6vh;
  margin: 0 1vw;
  border: 1px solid #f2d5ad;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
.quizResultTitleCaraContextBorderLine {
  display: flex;
  width: 95vw;
  height: 10px;
  border: 1px solid #f2d5ad;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.quizref {
  width: 95vw;
  padding: 10px 10px;
  font-size: calc(1px + 1.1vmin);
  font-family: ITCAvantGradePro_BOOK;
  text-align: center;
}
/* PAGE5 */
.titlePage5 {
  width: 80vw;
  height: auto;
  padding: 0px 25px;
  font-size: calc(1vw + 2vmin);
}
.titlePage6 {
  width: 55vw;
  height: auto;
  padding: 0px 25px;
  font-size: calc(1vw + 2vmin);
}
.content5text {
  width: auto;
  height: auto;
  font-size: calc(5px + 2vmin);
  padding: 10px 0px;
}
/* li.content1style.content1textbullet {
  width: 830;
  height: 100;
  font-size: calc(6px + 2vmin);
} */
.contentRow {
  justify-content: center;
}
.content5Container {
  padding-top: 2vw;
  align-items: unset;
}
.bgBox {
  height: auto;
  width: auto;
  padding: 1vw;
  background-image: url("../assets/backbox.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.bgKalengLgg {
  height: 45vh;
  width: 100%;
  background-image: url("../assets/kalenglgg.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  margin: 15px 0px 15px 0px;
  position: relative;
}
.bgKalengPuramino {
  height: 45vh;
  width: 100%;
  background-image: url("../assets/kalengpiramino.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  margin: 15px 0px 10px 0px;
  position: relative;
}
.colmContainer {
  text-align: center;
  width: 35vw;
}
.titletext {
  width: auto;
  height: auto;
  font-size: calc(1vw + 1vmin);
  color: #58595b;
  font-family: ITCAvantGradePro_DEMI;
}
.boxtext {
  width: auto;
  height: auto;
  font-size: calc(2px + 2vmin);
  color: #fff;
  font-family: ITCAvantGradePro_DEMI;
}
.addPadding {
  padding-left: 40px;
}
.ciclebenefit {
  position: absolute;
  top: 40%;
  left: 37%;
  height: 15vw;
  width: 15vw;
  background-image: url("../assets/circlebg.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.QuizTable thead tr th {
  font-family: ITCAvantGradePro_BOOK;
}
/* PAGE 6 */
.ciclebenefitheader {
  height: 7vw;
  width: 7vw;
  background-image: url("../assets/circlebg_header.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.colmContainerPage6 {
  text-align: center;
  width: 45vw;
}
.bgDiagramPage6 {
  height: 70vh;
  width: 100%;
  background-image: url("../assets/diagramVBlank.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}

.titletextPage6 {
  width: auto;
  height: auto;
  font-size: calc(1vw + 1vmin);
  color: #f59933;
  font-family: ITCAvantGradePro_DEMI;
}
.diagramMaskPage6 {
  position: fixed;
  bottom: 26vh;
  margin-left: 10%;
  /*background-color: aqua;*/
  width: 18vw;
  height: 1vh;
  overflow: hidden;
}
.diagramMaskPage6 .bgDiagramLinePage6 {
  width: 18vw;
  height: 46vh;
  background-image: url("../assets/diagramVFill.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  clip: rect(10px, 190px, 190px, 10px);
}
.bgDiagramEndPage6 {
  height: 70vh;
  width: 100%;
  background-image: url("../assets/diagramVDone.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.MinihexBg {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 35vh;
  background-image: url("../assets/hexapage5.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
  justify-content: center;
  line-height: normal;
}
.MinihexBg .title {
  font-family: ITCAvantGradePro_DEMI;
  font-size: calc(1.2vh + 2vmin);
  color: #fff;
}
.MinihexBg .value {
  font-family: ITCAvantGradePro_BOLD;
  font-size: calc(25px + 1vmin);
  color: #fff;
}
.page41titles {
  height: auto;
  text-align: left;
  font-size: calc(1.7vw + 2vmin);
  font-family: ITCAvantGradePro_DEMI;
}
.content4Container {
  padding-top: 40px;
  align-items: unset;
  padding-left: 20px;
}
/* MOBILE ViEW */

@media only screen and (max-width: 1024px) {
  .titleContainer {
    margin-left: 20vw;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 820px) and (max-height: 620px) {
  .page1Box {
    top: 1vh;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 820px) and (min-height: 620px) {
  .logoMj {
    height: 7vh;
  }
  .titlebg {
    height: 40vh;
    width: 70vw;
    left: 24vw;
  }
  .page1titles {
    width: auto;
    height: auto;
    font-size: calc(2.3vw + 1vmin);
    line-height: 1.2em;
  }
  .page1Box {
    top: 25vh;
  }
  .titleBig {
    font-size: calc(80px + 1vmin);
  }

  .logoLgg {
    height: 16vw;
    width: 16vw;
  }
  .titleContainer {
    margin-left: 25%;
  }
  .titlePage2 {
    width: auto;
    height: auto;
    padding: 0px 25px;
    font-size: calc(19px + 1vmin);
  }
  .titlePage3 {
    width: 90vw;
    height: auto;
    padding: 0px 5px;
    font-size: calc(1.1vw + 2vmin);
  }
  .titlePage4 {
    width: auto;
    height: auto;
    padding: 0px 25px;
    font-size: calc(17px + 1vmin);
  }
  .content3_2text {
    font-size: calc(1.1vw + 2vmin);
  }
  .content1Container {
    padding: 0 0;
  }
  .titlePage5 {
    width: auto;
    height: auto;
    padding: 0px 25px;
    font-size: calc(17px + 1vmin);
  }
  .titlestyle2 {
    font-family: ITCAvantGradePro_DEMI;
    text-align: left;
    line-height: 5.5vh;
  }
  .content2Container {
    padding-top: 0;
  }
  .bgDiagram {
    height: 40vh;
  }
  .bgDiagramEnd {
    height: 40vh;
  }
  .diagramMask {
    /* //top: 24vh;
    margin-left: 12%; */
  }
  .diagramMask .bgDiagramLine {
    /* width: 40vw; */
    height: 40vh;
  }
  ol.horizontal li {
    width: 29vw;
  }
  .content3text {
    padding: 50px 25px;
    font-size: calc(1.5vw + 2vmin);
  }
  .bgArrow {
    margin-top: 5%;
  }
  .SubtitlePage {
    width: auto;
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-size: calc(1vw + 2vmin);
  }
  .content4Container {
    padding-top: 40px;
    align-items: unset;
    padding-left: 20px;
  }

  .numberContainer {
    height: 40px;
    width: 40px;
    padding: 5px;
  }
  .imageHex1 {
    height: 25vh;
  }
  .imageHex2 {
    height: 25vh;
  }
  .imageHex3 {
    height: 25vh;
  }
  .imageHex4 {
    height: 25vh;
  }
  .imageHex5 {
    height: 25vh;
  }
  .addPaddingQuiz {
    min-height: 50px;
  }
  .numberAnswerContainer {
    height: 35px;
    width: 35px;
    margin-right: 20px;
  }
  .titleQuiz {
    min-height: 25px;
  }
  .addPadding3 {
    min-height: 70px;
    align-items: center;
  }
  .eek0 {
    width: 45px;
    height: 45px;
  }
  .eek2 {
    width: 45px;
    height: 45px;
  }
  .eek4 {
    width: 45px;
    height: 45px;
  }
  .eek4_2 {
    width: 45px;
    height: 45px;
  }
  .eek6 {
    width: 45px;
    height: 45px;
  }
  .QuizTable tbody tr {
    height: 60px;
  }
  .quizResultHex {
    font-size: calc(90px + 1vmin);
  }
  .quizResultDescHex {
    font-size: calc(2px + 2vmin);
  }
  .quizResultTitleCara {
    padding: 35px 0px;
  }
  .quizResultTitleCaraContextBorder {
    height: 35px;
  }
  .quizResultTitleCaraContextPadding {
    padding: 15px 0px;
  }
  .quizref {
    padding: 30px 10px;
    font-size: 0.9vw;
  }
  .bgBox {
    padding: 10px;
  }
  .titletext {
    padding: 30px 0px 10px 0px;
  }
  .ciclebenefit {
    top: 30%;
    left: 42%;
    height: 25vh;
    width: 23vh;
  }
  .bgKalengLgg {
    height: 35vh;
    margin: 15px 0px 15px 0px;
  }
  .bgKalengPuramino {
    height: 35vh;
    margin: 15px 0px 15px 0px;
  }
  .bgScore {
    height: 55vh;
  }
  .containerResult {
    width: 66vw;
    padding: 12px 10px;
  }
  ul {
    margin-bottom: 0px;
    padding-inline-start: 44px;
    margin-block-end: 0px;
  }
  .colmContainerPage6 {
    width: 50vw;
  }
  .grid-container {
    grid-template-rows: 30vh auto;
  }
  .page41titles {
    width: 520px;
    height: auto;
    text-align: left;
    font-size: calc(1.2vw + 2vmin);
    font-family: ITCAvantGradePro_DEMI;
    line-height: 5vh;
  }
  .addPaddingQuiz #check {
    height: 3.5vw;
    width: 2.5vw;
    margin-left: 0.5vw;
  }
  .addPadding3 #check {
    height: 4vw;
    width: 2.5vw;
    margin-left: 0.5vw;
  }
  .center #check {
    height: 2.3vw;
    width: 3vw;
  }
  .QuizTable thead tr th {
    padding: 1vw;
  }
}

@media only screen and (max-width: 819px) {
  .content2Container {
    padding-top: 3%;
  }
  .page1titles {
    width: 55vw;
    height: auto;
    font-size: calc(2.7vw + 1vmin);
  }
  .page41titles {
    width: 520px;
    height: auto;
    text-align: left;
    font-size: calc(1.7vw + 2vmin);
    font-family: ITCAvantGradePro_DEMI;
  }
  .titleBig {
    padding: 0px 10px;
    font-size: calc(50px + 2vmin);
  }
  .titlebg {
    height: 30vh;
  }
  .page1Box {
    top: 35vh;
    left: 10px;
    justify-content: normal;
  }
  .logoMj {
    left: 50px;
    height: 7vw;
    width: 100vw;
  }
  .Titlebayi {
    padding: 10px;
  }
  .titlePage2 {
    width: 550px;
    height: auto;
    padding: 0px 25px;
    font-size: calc(10px + 2vmin);
  }
  .SubtitlePage {
    font-size: calc(1vw + 1vmin);
  }
  .titlePage3 {
    width: 80vw;
    height: auto;

    font-size: calc(1.3vw + 2vmin);
  }
  .titlePage4 {
    width: 550px;
    height: auto;
    padding: 0px 25px;
    font-size: calc(8px + 2vmin);
  }
  .titlePage5 {
    width: auto;
    height: auto;
    padding: 0px 18px;
    font-size: calc(1.4vw + 2vmin);
  }
  .content4Container {
    padding-top: 10px;
    align-items: unset;
    padding-left: 10px;
    align-items: flex-start;
  }
  ul {
    margin-bottom: 0px;
    padding-inline-start: 32px;
    margin-block-end: 0px;
  }
  .grid-container {
    grid-template-rows: auto auto;
  }
  .quizContainer {
    padding: 5vw;
  }
  .quiznavi {
    bottom: 10vh;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 620px) {
  .bgScore {
    height: 62vh;
  }
  .content4ContainerResult {
    height: 100vh;
  }
  .content4Container {
    padding: 0px;
  }
  .ResultTitleCara {
    padding: 0 0;
  }
  .resultDesc {
    padding: 5vh 0;
  }
  .containerResult {
    width: auto;
    margin: 0vw 20vw;
  }
  .quizResultHex {
    font-size: 14vh;
  }
  .quizResultTitleCara {
    padding: 0px;
  }
}
@media only screen and (max-width: 1024px) and (max-height: 520px) {
  .imageHexScore {
    margin: 2vh 0px;
  }
  .containerResult {
    width: auto;
    margin: 0vw 20vw;
  }
  .quizResultTitleCaraContextPadding {
    padding: 0 0;
  }
  .quizref {
    padding: 5px 0;
  }
  .bgScore {
    height: 60vh;
    padding: 3% 0px 0px 0px;
  }
  .quizResultTitleCaraContextBorderLine {
    height: 5px;
  }
  .quizContainer {
    padding: 5vw;
  }
}
@media only screen and (max-width: 1024px) and (max-height: 768px) {
  .quizContainer {
    padding: 5vw;
  }
  .customquiz2 {
    font-size: calc(1vw + 1vmin);
  }
}
@media only screen and (max-width: 640px) and (max-height: 360px) {
  .containerResult {
    width: auto;
    margin: 0vw 20vw;
  }
  .ciclebenefit {
    left: 45%;
  }
}
@media only screen and (max-width: 819px) and (min-width: 720px) and (max-height: 380px) {
  .page1Box {
    top: 25vh;
  }
  .content3text {
    padding: 3% 10vw;
    font-size: calc(1.2vw + 2vmin);
  }
  .bgScore {
    padding: 4% 0px 0px 0px;
  }
  .ciclebenefit {
    left: 40%;
  }
  .quizContainer {
    padding: 5vw;
  }
}
/* Portad */
@media only screen and (max-width: 414px) and (max-height: 828px) {
  .content2Container {
    align-items: center;
  }
  .rowtocol-container {
    padding: 2vw;
    height: 80vh;
  }
  .titleContainer {
    margin-left: 20vw;
  }
  .page1titles {
    width: 70vw;
    font-size: calc(2.2vw + 1vmin);
  }
  .observer-demo {
    padding: 10px 1px;
  }
  .page1Box {
    left: 2%;
  }
  .logoMj {
    left: 10%;
    height: 7vw;
  }
  .titlePage2 {
    width: 80vw;
    padding: 0;
    font-size: calc(1vw + 2vmin);
  }
  .titlePage3 {
    width: 90vw;
    padding: 0;
    font-size: calc(1vw + 2vmin);
  }
  .titlestyle2 {
    line-height: 5vw;
  }
  ol.horizontal li {
    width: 40vw;
  }
  .content2text {
    font-size: calc(1.1vw + 2vmin);
  }

  .bgDiagram {
    height: 20vh;
  }
  .bgDiagramEnd {
    height: 20vh;
  }
  .diagramMask {
    height: 20vh;
  }
  .diagramMask .bgDiagramLine {
    height: 20vh;
  }
  ul {
    padding-inline-start: 5vw;
  }
  .titlebg {
    width: 75vw;
    left: 22vw;
  }
  .numberContainer {
    height: 5vw;
    width: 5vw;
  }
  .numberAnswerContainer {
    height: 5vw;
    width: 5vw;
    margin: 0;
  }
  .content4Container {
  }
  .titleScore {
    width: 26vw;
    padding: 3vw 5vw;
    left: 35vw;
  }
  .bgScore {
    height: auto;
    padding: 6%;
    width: 100vw;
  }
  .imageHexScore {
    height: auto;
  }
  .quizResultDescHex {
    font-size: 2vw;
  }
  .addPadding4 #check {
    height: 4vw;
    width: 4vw;
  }
  .titlePage6 {
    padding: 0;
    width: 65vw;
  }
  .ciclebenefitheader {
    height: 13vw;
    width: 13vw;
  }
  .MinihexBg {
    height: 12vh;
  }
  .MinihexBg .title {
    font-size: calc(0.4vh + 1vmin);
  }
  .MinihexBg .value {
    font-size: calc(2vh + 1vmin);
  }
  .row-container {
    padding: 10px;
  }
  .addPaddingQuiz #check {
    height: 5vw;
    width: 3vw;
    margin-left: 1vw;
  }
  .addPadding3 #check {
    height: 5vw;
    width: 2.5vw;
  }
  .addPadding4 #check {
    height: 3.3vw;
    width: 4vw;
  }
  .customquiz2 {
    width: 100%;
    font-size: calc(1.2vw + 1vmin);
  }
  .eek0 {
    height: 5vw;
    width: 5vw;
  }
  .eek2 {
    height: 5vw;
    width: 5vw;
  }
  .eek4 {
    height: 5vw;
    width: 5vw;
  }
  .eek4_2 {
    height: 5vw;
    width: 5vw;
  }
  .eek6 {
    height: 5vw;
    width: 5vw;
  }
  .QuizTable thead tr th {
    font-size: calc(1vw + 1vmin);
  }
  .QuizTable tbody tr td {
    font-size: calc(1vw + 1vmin);
  }
  .answerText {
    font-size: calc(1.5vw + 1vmin);
    margin: 0 1vw;
  }
  .btn-prevQuiz {
    margin: 0;
    height: 7vw;
    width: 7vw;
  }
  .btn-nextQuiz {
    margin: 0;
    height: 7vw;
    width: 7vw;
  }
  .quiznavi {
    margin: 0;
  }
  .quizContainer {
    padding: 5vw;
  }
}
