/*FONTS*/
@font-face {
  font-family: "ITCAvantGradePro_MD";
  src: local("ITCAvantGradePro_MD"), url(../fonts/ITCAvantGardePro-Md.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_DEMI";
  src: local("ITCAvantGradePro_DEMI"), url(../fonts/ITCAvantGardePro-Demi.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_DEMI_OBL";
  src: local("ITCAvantGradePro_DEMI_OBL"),
    url(../fonts/ITCAvantGardePro-DemiObl.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_EL";
  src: local("ITCAvantGradePro_EXTRALIGHT"),
    url(../fonts/ITCAvantGardePro-XLt.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_BOLD";
  src: local("ITCAvantGradePro_BOLD"), url(../fonts/ITCAvantGardePro-Bold.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_BOOK";
  src: local("ITCAvantGradePro_BOOK"), url(../fonts/ITCAvantGardePro-Bk.otf) format("opentype");
}
.Home-container {
  display: flex;
}
.observer-demo {
  padding: 10px 15px;
  height: 100vh;
  width: 100vw;
}
.Box-Demo {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;

  border-radius: 0;
  border: 1px solid black;
  position: relative;
  opacity: 1;
  align-items: center;
  height: 500px;
}
.TitlePage1 {
  width: 400px;
  /* height: 200px; */
  position: relative;
  opacity: 1;
}

#TitleText {
  text-align: "center";
}
.titlestyle {
  font-family: ITCAvantGradePro_BOLD;
  text-align: center;
}
.titlestyle2 {
  font-family: ITCAvantGradePro_DEMI;
  text-align: left;
}
.content1style {
  font-family: ITCAvantGradePro_DEMI;
}
.contentRefstyle {
  font-family: ITCAvantGradePro_BOOK;
  font-size: calc(0.1px + 1.5vmin);
  color: #58595b;
}
ol.horizontal li {
  float: left;
  width: 200px;
  padding: 2px 0px;
}
.logoLgg {
  height: 70px;
  width: 16vw;
  background-image: url("../assets//lgglogo.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  background-position: center;
}
.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#footer {
  position: fixed;
  bottom: 20px;
}
