/*FONTS*/
@font-face {
  font-family: "ITCAvantGradePro_MD";
  src: local("ITCAvantGradePro_MD"), url(./fonts/ITCAvantGardePro-Md.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_DEMI";
  src: local("ITCAvantGradePro_DEMI"), url(./fonts/ITCAvantGardePro-Demi.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_DEMI_OBL";
  src: local("ITCAvantGradePro_DEMI_OBL"),
    url(./fonts/ITCAvantGardePro-DemiObl.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_EL";
  src: local("ITCAvantGradePro_EXTRALIGHT"),
    url(./fonts/ITCAvantGardePro-XLt.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_BOLD";
  src: local("ITCAvantGradePro_BOLD"), url(./fonts/ITCAvantGardePro-Bold.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_BOOK";
  src: local("ITCAvantGradePro_BOOK"), url(./fonts/ITCAvantGardePro-Bk.otf) format("opentype");
}

.App {
  text-align: center;
}
div {
  white-space: pre-wrap;
}
sup#custom {
  top: -1em;
}
sub,
sup#custom {
  font-size: 50%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #502c0d;
  font-family: ITCAvantGradePro_MD, Arial, serif;
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  height: auto;
  background-image: url("./assets/bg.png");
  position: fixed;
  background-size: cover;
  background-position: center;
}
.App-Container {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}
.App-link {
  color: #61dafb;
}
.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MOBILE ViEW */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .App-header {
    width: 1024px;
    height: 100vh;
  }
}
@media only screen and (max-width: 768px) {
  .App-header {
    width: 1024px;
    height: 100vh;
  }
}
