/*FONTS*/
@font-face {
  font-family: "ITCAvantGradePro_MD";
  src: local("ITCAvantGradePro_MD"), url(./fonts/ITCAvantGardePro-Md.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_DEMI";
  src: local("ITCAvantGradePro_DEMI"), url(./fonts/ITCAvantGardePro-Demi.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_DEMI_OBL";
  src: local("ITCAvantGradePro_DEMI_OBL"),
    url(./fonts/ITCAvantGardePro-DemiObl.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_EL";
  src: local("ITCAvantGradePro_EXTRALIGHT"),
    url(./fonts/ITCAvantGardePro-XLt.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_BOLD";
  src: local("ITCAvantGradePro_BOLD"), url(./fonts/ITCAvantGardePro-Bold.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_BOOK";
  src: local("ITCAvantGradePro_BOOK"), url(./fonts/ITCAvantGardePro-Bk.otf) format("opentype");
}
@font-face {
  font-family: "ITCAvantGradePro_BkObl";
  src: local("ITCAvantGradePro_BkObl"), url(./fonts/ITCAvantGardePro-BkObl.otf) format("opentype");
}

.App {
  text-align: center;
}
div {
  white-space: pre-wrap;
}
sup#custom {
  top: -1em;
}
sub,
sup#custom {
  font-size: 50%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
li {
  font-size: 40px;
  height: calc(20px + 2vmin);
}

li span {
  font-size: calc(5px + 2vmin);
  vertical-align: middle;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #502c0d;
  font-family: ITCAvantGradePro_MD, Arial, serif;

}
.App-header #bg{
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  top:0;
  left: 0;
  position: fixed;
  background: url("./assets/bg.png") no-repeat center center fixed;
  background-size: cover;
}
.App-Container {
  padding-left: 0;
  padding-top: 0;
  margin-left: auto;
  width: 100vw;
}
.App-link {
  color: #61dafb;
}
.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.colorTest1 {
  color: #f05a29;
}
/* MOBILE ViEW */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .App-header {
    width: 1024px;
    height: auto;
    position: fixed;
  }
}
@media only screen and (max-width: 768px) {
  .App-header {
    width: 100vw;
    height: auto;
    position: fixed;
  }
}
.btn-tooglefullscreen {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: #f05a29;
}
.btn-nextscreen {
  position: absolute;
  bottom: 2%;
  right: 2%;
  background-color: #f05a29;
}
.btn-backscreen {
  position: absolute;
  bottom: 2%;
  left: 2%;
  background-color: #f05a29;
}
.App-BG {
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  height: auto;
}

.fullscreen-enabled .App-BG {
  background: #fff;
  background-image: url("./assets/bg.png");
  position: fixed;
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  height: auto;
}
